<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <%= render 'shared/reports/form' %>
    </div>
    <div class="modal-footer">
      <button id="modal-form-submit" class="btn btn-primary"><%= t('edit.save') %></button>
    </div>
  </div>
</div>

<script>
    $('#modal-form-submit').on('click', function(e){
        $('#new_report').submit();
    });
</script>