<% title("#{@year}-#{@month}") %>
<div class="btn-group btn-group-justified hidden-print" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn disabled" id="todayButton">Today</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn" id="weeksButton">Weeks</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-primary" id="monthButton">Month</button>
  </div>
</div>

<%= form_tag("/reports/index", method: "post", id: "monthForm", remote: "true") do %>
    <div class="hidden-print" style="overflow:hidden;">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div id="monthpicker">
              <input type="hidden" name="monthYear" value="">
            </div>
          </div>
        </div>

<!--        <div class="row">
          <div class="col-md-12" align="right">
            <input type="checkbox" name="toggleView" id="toggleView" checked data-on-text="Month" data-off-text="Weeks" data-on-color="default" data-off-color="default">
          </div>
        </div>
-->
      </div>

      <script type="text/javascript">
          $(function () {
              $('#monthpicker').datetimepicker({
                  inline: true,
                  format: 'MMMM YYYY'
              });
          });
      </script>
    </div>
<% end %>


<div id="monthDiv" style="display: block;">
  <%= render 'shared/reports/monthTable' %>
</div>

<div id="weeksDiv" style="display: none;">
  <%= render 'shared/reports/weekTables' %>
</div>
