<% title("#{@year}-#{@month}") %>

<%= form_tag("/reports/index", method: "post", id: "monthForm", remote: "true") do %>
    <div class="hidden-print" style="overflow:hidden;">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div id="monthpicker">
              <input type="hidden" name="monthYear" value="">
            </div>
          </div>
        </div>

<!--        <div class="row">
          <div class="col-md-12" align="right">
            <input type="checkbox" name="toggleView" id="toggleView" checked data-on-text="Month" data-off-text="Weeks" data-on-color="default" data-off-color="default">
          </div>
        </div>
-->
      </div>

      <script type="text/javascript">
          $(function () {
              $('#monthpicker').datetimepicker({
                  locale: '<%= locale %>',
                  inline: true,
                  format: 'MM YYYY'
              });
          });
      </script>
    </div>
<% end %>


<div id="monthDiv" style="display: block;">
  <%= render 'shared/reports/monthTable' %>
</div>

<div id="weeksDiv" style="display: none;">
  <%= render 'shared/reports/weekTables' %>
</div>

<div class="text-center">
  <a href="#top" class="well well-sm" onclick="$('html,body').animate({scrollTop:0},'slow');">
    <i class="glyphicon glyphicon-chevron-up"></i>
  </a>
</div>

