<% title("Workreport #{@month}/#{@year}") %>
<h3 class="page-title">Workdays <small>Published</small></h3>
<p class="hidden-print"><%= link_to "Back to dashboard", posts_dashboard_path %></p>
<hr/>

<%= form_tag("/posts/month", method: "post", id: "monthForm", remote: "true") do %>
    <div class="hidden-print" style="overflow:hidden; width:100%;">
      <div class="form-group">
        <div class="row">
          <div class="col-md-12">
            <div id="monthpicker">
              <input type="hidden" name="monthYear" value="">
            </div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
          $(function () {
              $('#monthpicker').datetimepicker({
                  inline: true,
                  format: 'MMMM YYYY'
              });
          });
      </script>
    </div>
<% end %>





<%= render 'shared/posts/monthTable' %>

<div class="row">
  <%= secs_to_time @secs_in_month %>
</div>