<div id="footer" class="hidden-print">
  <div class="container">

    <div class="row footer-first-row">

      <div class="col-xs-12 text-center">
        <p><small>
          &copy; <%= Time.now.year %> - <%= link_to "Thomas Hutterer", "https://github.com/thutterer/work_report" %>
        </small></p>
      </div>

    </div>

  </div>
</div>

